* {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Courier, monospace;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* #main {
  position: relative;
  width: 100%;
  height: 100%;
}

#fs {
  width: 100%;
  height: 100%;
  background-color: rgb(66, 66, 66);
}

#elem {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 0;
  background-color: rgb(228, 248, 50);
}

#white {
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  background-color: #dadada;
} */

.maz {
  font-family: "Mazius Review 20.09";
  font-style: italic;
  font-weight: 100;
  color: #14cf93;
}

#main {
  width: 100%;
}

#loader {
  /* display: none; */
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #111;
  color: #fff;
  z-index: 9999;
}

#loader #topheading {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}

#topheading h5 {
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 300;
}

#loader h1 {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  font-weight: 500;
}

/* #loader h1 span {
  font-family: "fira code";
} */

.reveal .parent {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-y: hidden;
}

.reveal .parent .child {
  display: block;
}

.parent .child span {
  display: inline-block;
}

#green {
  /* display: none; */
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 999;
  height: 0vh;
  background-color: #14cf93;
}

#home {
  width: 100%;
  height: 150vh;
}

#home #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  width: 100%;
  height: 100px;
}

#nav a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  color: #000;
}

#nav a .line {
  position: absolute;
  bottom: 0;
  display: inline-block;
  height: 1px;
  background-color: #000;
}

#line1 {
  left: 0;
  width: 0%;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  transition-delay: 0.15s;
}

#line2 {
  right: 0;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  width: 100%;
}

#nav a:hover #line2 {
  width: 0;
}

#nav a:hover #line1 {
  width: 100%;
}

.row {
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #333;
  padding: 0 7vw;
  line-height: 1;
  padding-right: 12vw;
}
.row h1 {
  font-size: 12vw;
  font-weight: 5vw;
}

.row .text {
  margin-top: 0vw;
}

.row h5 {
  opacity: 0.6;
  font-size: 11px;
  font-weight: 500;
}

.row:nth-child(3) {
  margin-top: 0;
}

#imagery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15vw;
  width: 100%;
  padding: 7vw 7vw;
}

#imagery #imgleft {
  width: 30%;
  height: auto;
}

#imgleft h1 {
  font-size: 2vw;
  font-weight: 500;
  letter-spacing: 1px;
  color: #333;
}

#imgright {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 60%;
  height: 300px;
  z-index: 99;
}

#imgright .imgContainer {
  position: absolute;
  width: 27vw;
  height: 40vw;
  border-radius: 1vw;
  filter: grayscale();
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  top: 0;
  transition: top 0.6s ease-in-out;
}
#imgright .imgContainer:hover {
  filter: grayscale(0);
  top: -250px;
}

#imgright .imgContainer:nth-child(1) {
  transform: translate(-20%, -8%) rotate(-20deg);
  background-image: url("./assets/js_logo.jpg");
  background-size: cover;
  background-position: center;
}
#imgright .imgContainer:nth-child(2) {
  transform: translate(0%, 0%) rotate(-15deg);
  background-image: url("./assets/angular_logo.jpg");
  background-size: cover;
  background-position: center;
}

#imgright .imgContainer:nth-child(3) {
  transform: translate(20%, 10%) rotate(-5deg);
  background-image: url(https://res.cloudinary.com/practicaldev/image/fetch/s--goETGOXU--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_66%2Cw_880/https://dev-to-uploads.s3.amazonaws.com/i/x3x5w638kkixi9s3h3vw.gif);
  /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKSMcpOUx2NpJzqDB9OYGdb6G05SWUQJzBjjFSsJK20A&s); */
  background-size: cover;
  background-position: center;
}

#work {
  position: relative;
  width: 100%;
  margin-top: 15vh;
  padding-top: 20px;
  min-height: 100vh;
  background-color: #f2f2f2;
}
#work .workrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14vw;
}
.workrow h1 {
  display: flex;
  align-items: baseline;
  font-size: 7vw;
  font-weight: 400;
  margin-top: 5vh;
}
.workrow h1 .mini {
  margin-left: 4vw;
  font-size: 2vw;
  font-weight: 400;
}

#work::before {
  content: "";
  top: -55px;
  position: absolute;
  width: 100%;
  height: 150px;
  transform: rotate(-180deg);
  background-image: url(https://abhishekjha.me/rip.f6d7c4dd.svg);
  background-size: cover;
}

#images {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 6vw;
  position: relative;
  width: 100%;
  padding: 0 7vw;
  padding-bottom: 7vh;
  margin-bottom: -13vh;
}

.cnt {
  overflow: hidden;
  border-radius: 10px;
}
.cnt img {
  width: 105%;
}

.container1 {
  width: 55%;
}
.container2 {
  width: 35%;
}

#clickAnimation {
  cursor: pointer;
}

#skills,
#connect a {
  background-color: #f6f6f6;
  padding: 50px 0;
}

#skills ul,
#connect ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#skills li,
#connect li a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1.2em;
  min-width: 120px;
  text-decoration: none;
  color: #333;
}

#skills li:hover {
  background-color: #0077b5;
}

#connect li a:hover {
  background-color: #14cf93;
}
